html, body {
    background-color: rgb(255, 255, 255);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow Bold', Arial, sans-serif;
    background-image: url(../images/game-show.jpeg);
    background-position: cover;
  }
  
  h1 {
    color:  rgb(255, 255, 255);
    font-size: 40px;
    font-weight: bolder;
  }
  
  h2, h5, a, span {
    color: rgb(255, 255, 255);
  }
  
  
  .view {
    font-size: 22px; 
     font-family: 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
  }

  
  